# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2024 Tiz
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Promtail systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ promtail_identifier }}.service"
  register: promtail_service_stat

- name: Uninstall Promtail systemd services and files
  when: promtail_service_stat.stat.exists | bool
  block:
    - name: Ensure Promtail systemd service is stopped
      ansible.builtin.service:
        name: "{{ promtail_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Promtail systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ promtail_identifier }}.service"
        state: absent

    - name: Ensure Promtail container network does not exist
      when: promtail_container_network_deletion_enabled
      block:
        - name: Ensure Promtail container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ promtail_container_network }}"
            state: absent
          register: promtail_network_deletion_result

        - name: Ensure Promtail container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ promtail_container_network }}
          register: promtail_network_deletion_result
          changed_when: promtail_container_network in promtail_network_deletion_result.stdout

    - name: Ensure Promtail path does not exist
      ansible.builtin.file:
        path: "{{ promtail_base_path }}"
        state: absent
