[Unit]
Description=promtail log agent ({{ promtail_identifier }})
{% for service in promtail_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ promtail_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ promtail_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
                --rm \
                --name={{ promtail_identifier }} \
                --log-driver=none \
                --user={{ promtail_uid }}:{{ promtail_gid }} \
                --cap-drop=ALL \
                --read-only \
                --network={{ promtail_container_network }} \
                {% if promtail_container_http_host_bind_port %}
                -p {{ promtail_container_http_host_bind_port }}:{{ promtail_container_http_port }} \
                {% endif %}
                {% for port in promtail_container_bind_ports %}
                -p {{ port[0] }}:{{ port[1] }} \
                {% endfor %}
                --label-file={{ promtail_base_path }}/labels \
                --mount type=bind,src={{ promtail_data_path }},dst=/promtail \
                --mount type=bind,src={{ promtail_config_path }},dst=/etc/promtail/ \
                {% for mount in promtail_container_additional_mounts %}
                --mount {{ mount }} \
                {% endfor %}
                --tmpfs=/tmp:rw,noexec,nosuid,size={{ promtail_tmpfs_size }} \
                {{ promtail_container_image }}

{% for network in promtail_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ promtail_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ promtail_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ promtail_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ promtail_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ promtail_identifier }}

[Install]
WantedBy=multi-user.target
