#jinja2: lstrip_blocks: "True"
server:
  http_listen_port: {{ promtail_config_http_listen_port | int | to_json }}
  grpc_listen_port: {{ promtail_config_grpc_listen_port | int | to_json }}

positions:
  filename: {{ promtail_config_positions_filename | to_json }}

clients: {{ promtail_config_clients | to_json }}

{% if promtail_config_scrape_configs | trim | length > 0 %}
scrape_configs:
{{ promtail_config_scrape_configs }}
{% endif %}
